.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchBar {
  display: flex;
  gap: 6px;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #333;
  padding: 6px;
  border-radius: 8rem;
}

.searchBarInput {
  appearance: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  width: 210px;
  border: none;
  background: transparent;
  color: white;
  font-weight: 600;
}

.searchBarButton {
  padding: 5px 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchBarButton:hover {
  background-color: #777;
}
