.genreContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.genre {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s;
}

.genre:hover {
  background-color: white;
  color: black;
}
